@model Paul_Andreea_Proiect.Models.AutoViewModels.SellerIndexData
@{
    ViewData["Title"] = "Sellers";
}
<h2>Sellers</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Sellers Name</th>
            <th>Adress</th>
            <th>Cars</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sellers)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["SellerID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.SellerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>

                <td>
                    @{
                        foreach (var car in item.SoldCars)
                        {
                            @car.CarID @: @car.Car.PostTitle <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Cars != null)
{
    <h3>Cars Sold by Selected Seller</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Cars)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["CarID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { carID = item.ID })
                </td>
                <td>
                    @item.Brand
                </td>
                <td>
                    @item.Model
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }

    </table>
}

@if (Model.Orders != null)
{
    <h3>
        Customers that have ordered the Selected Car
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Order Date</th>
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
            </tr>
        }
    </table>
}